<!DOCTYPE html>
<html>
  <head>
    <title>RailsLearnBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="max-w-2xl mx-auto p-2">
      <%= yield :header %>
    </div>
    <div class="max-w-2xl mx-auto p-2">
      <%= yield %>
    </div>
    <div class="max-w-2xl mx-auto p-2">
      <%= yield :footer %>
    </div>
  </body>
</html>
